Segmenting Toronto - part 2 scroll down
==================

In [1]:
#First get and install beautiful soup
!conda install -c conda-forge beautifulsoup4 --yes
from bs4 import BeautifulSoup

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [2]:
#Get some more python dependencies
!conda install -c conda-forge lxml --yes

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

## Get the wikipedia Data and parse the data

In [3]:
# Get the wikipedia webpage
import requests
r = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

from bs4 import BeautifulSoup

import lxml

# Could not get lxml to work for whatever reason, we are going with default
soup = BeautifulSoup(r.text, "html.parser")

In [4]:
# We are interested in the first table in there:
table_soup = soup.find_all('table')[0]
# Pandas can read an html table:
import pandas as pd

df = pd.read_html(str(table_soup))

In [5]:
#Let's have a look
df[0]

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
283      M8Z         Etobicoke              Mimico NW
284      M8Z         Etobicoke     The Queensway West
285      M8Z         Etobicoke  Royal York South West
286      M8Z         Etobicoke         South of Bloor
287      M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

## Got the data, let's process according to the instructions:
### # 1. The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood

In [6]:
# define the dataframe columns
column_names = ['PostalCode', 'Borough', 'Neighborhood'] 
# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

#print out neighborhoods to checkout column name (same as New York example)
neighborhoods

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [7]:
#Let's assign the columns and make sure the dataframe is of the right format
neighborhoods['PostalCode'] = df[0]['Postcode']
neighborhoods['Borough'] = df[0]['Borough']
neighborhoods['Neighborhood'] = df[0]['Neighbourhood']

# print out Neighborhoods to make sure we got the right column names and data
neighborhoods

    PostalCode           Borough           Neighborhood
0          M1A      Not assigned           Not assigned
1          M2A      Not assigned           Not assigned
2          M3A        North York              Parkwoods
3          M4A        North York       Victoria Village
4          M5A  Downtown Toronto           Harbourfront
..         ...               ...                    ...
283        M8Z         Etobicoke              Mimico NW
284        M8Z         Etobicoke     The Queensway West
285        M8Z         Etobicoke  Royal York South West
286        M8Z         Etobicoke         South of Bloor
287        M9Z      Not assigned           Not assigned

[288 rows x 3 columns]

### 2. Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [8]:
# Get bad rows index and then drop them
selectedRowsToDrop = neighborhoods[neighborhoods['Borough'] == "Not assigned"].index
print("Dropped {} rows where a borough was unassigned".format(len(selectedRowsToDrop)))
neighborhoods.drop(selectedRowsToDrop, axis=0, inplace=True)
#print out neighborhoods again to make sure we are ok
neighborhoods

Dropped 77 rows where a borough was unassigned

    PostalCode           Borough              Neighborhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M5A  Downtown Toronto               Regent Park
6          M6A        North York          Lawrence Heights
..         ...               ...                       ...
282        M8Z         Etobicoke  Kingsway Park South West
283        M8Z         Etobicoke                 Mimico NW
284        M8Z         Etobicoke        The Queensway West
285        M8Z         Etobicoke     Royal York South West
286        M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

### 3. More than one neighborhood can exist in one postal code area. 
For example, in the table on the Wikipedia page, 
you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in 
the above table.

In [9]:
# Groupby is very useful here - I found it in several tutorials online - originally I had a loop here
neighborhoods = neighborhoods.groupby(['PostalCode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
neighborhoods

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Rouge, Malvern
1          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

### 4. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [10]:
selectedRowsToRenameNeigh = neighborhoods[neighborhoods['Neighborhood'] == "Not assigned"].index
#We really only find one
print("Found the following not assigned neighborhoods:")
print(neighborhoods.iloc[selectedRowsToRenameNeigh])

print("Renaming {} rows where a borough was unassigned".format(len(selectedRowsToRenameNeigh)))

# There's definitely a better way to implement this below but I cannot get anything else to work so here we are:
for ind in selectedRowsToRenameNeigh.tolist():
     neighborhoods.iloc[ind, neighborhoods.columns.get_loc('Neighborhood')] = neighborhoods.iloc[ind]['Borough']

print("Check that the renaming worked:")
print(neighborhoods.iloc[selectedRowsToRenameNeigh])

Found the following not assigned neighborhoods:
   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Not assigned
Renaming 1 rows where a borough was unassigned
Check that the renaming worked:
   PostalCode       Borough  Neighborhood
85        M7A  Queen's Park  Queen's Park

In [11]:
# 5. Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.

In [12]:
# 6.    In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.
print("Number of rows in notebook: {}".format(neighborhoods.shape[0]))

Number of rows in notebook: 103

In [13]:
#print our frame one more time
neighborhoods

    PostalCode      Borough                                       Neighborhood
0          M1B  Scarborough                                     Rouge, Malvern
1          M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2          M1E  Scarborough                  Guildwood, Morningside, West Hill
3          M1G  Scarborough                                             Woburn
4          M1H  Scarborough                                          Cedarbrae
..         ...          ...                                                ...
98         M9N         York                                             Weston
99         M9P    Etobicoke                                          Westmount
100        M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101        M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102        M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

## Get longitude and latitude using geocode

In [14]:
# Create a new dataframe to add the new values
df = pd.DataFrame(columns=(neighborhoods.columns.values.tolist() + ['Latitude', 'Longitude']))

In [15]:
# This is our new dataframe to hold the new data
df.head()

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood, Latitude, Longitude]
Index: []

In [16]:
# Get geocoder
!conda install -c conda-forge geocoder --yes

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.7.12

Please update conda by running

    $ conda update -n base -c defaults conda



# All requested packages already installed.

In [17]:
# Geocoder does not work, returns null object very often and it is very very slow to return something useful
# import geocoder

# #Iterate through each row and copy the relevant data
# for index in range(neighborhoods.shape[0]): # No of rows
#     print('Row Number : ', index)
#     # Select row by index position using iloc[]
#     row = neighborhoods.iloc[index, :]
#     print('Row values : ', row.values)
#     # initialize your variable to None
#     lat_lng_coords = None
#     # loop until you get the coordinates
#     while(lat_lng_coords is None):
#         g = geocoder.google('{}, Toronto, Ontario'.format(row.values[0]))
#         lat_lng_coords = g.latlng
#     # Now appropriately set them
#     latitude = lat_lng_coords[0]
#     longitude = lat_lng_coords[1]
#     #Make a new entry:
#     df = df.append({'PostalCode': row.values[0],
#                 'Borough': row.values[1],
#                 'Neighborhood' : row.values[2],
#                 'Latitude': latitude,
#                 'Longitude': longtitude}, ignore_index=True)

In [18]:
# Import CSV file
data = pd.read_csv('http://cocl.us/Geospatial_data')

In [19]:
data

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [20]:
#Iterate through each data entry in our table and create entry for new
#Iterate through each row and copy the relevant data
for index in range(neighborhoods.shape[0]): # No of rows
    print('Row Number : ', index)
    # Select row by index position using iloc[]
    row = neighborhoods.iloc[index, :]
    print('Row values : ', row.values)
    # initialize your variable to None
    lat_lng_coords = data[data['Postal Code']==row.values[0]]
    print("Got coords {}".format(lat_lng_coords))
    latitude = lat_lng_coords.iloc[0]['Latitude']
    longitude = lat_lng_coords.iloc[0]['Longitude']
    #Make a new entry:
    df = df.append({'PostalCode': row.values[0],
                'Borough': row.values[1],
                'Neighborhood' : row.values[2],
                'Latitude': latitude,
                'Longitude': longitude}, ignore_index=True)

Row Number :  0
Row values :  ['M1B' 'Scarborough' 'Rouge, Malvern']
Got coords   Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
Row Number :  1
Row values :  ['M1C' 'Scarborough' 'Highland Creek, Rouge Hill, Port Union']
Got coords   Postal Code   Latitude  Longitude
1         M1C  43.784535 -79.160497
Row Number :  2
Row values :  ['M1E' 'Scarborough' 'Guildwood, Morningside, West Hill']
Got coords   Postal Code   Latitude  Longitude
2         M1E  43.763573 -79.188711
Row Number :  3
Row values :  ['M1G' 'Scarborough' 'Woburn']
Got coords   Postal Code   Latitude  Longitude
3         M1G  43.770992 -79.216917
Row Number :  4
Row values :  ['M1H' 'Scarborough' 'Cedarbrae']
Got coords   Postal Code   Latitude  Longitude
4         M1H  43.773136 -79.239476
Row Number :  5
Row values :  ['M1J' 'Scarborough' 'Scarborough Village']
Got coords   Postal Code   Latitude  Longitude
5         M1J  43.744734 -79.239476
Row Number :  6
Row values :  ['M1K' 'Scarborough' 'East Birchmount Park, Ionview, Kennedy Park']
Got coords   Postal Code   Latitude  Longitude
6         M1K  43.727929 -79.262029
Row Number :  7
Row values :  ['M1L' 'Scarborough' 'Clairlea, Golden Mile, Oakridge']
Got coords   Postal Code   Latitude  Longitude
7         M1L  43.711112 -79.284577
Row Number :  8
Row values :  ['M1M' 'Scarborough' 'Cliffcrest, Cliffside, Scarborough Village West']
Got coords   Postal Code   Latitude  Longitude
8         M1M  43.716316 -79.239476
Row Number :  9
Row values :  ['M1N' 'Scarborough' 'Birch Cliff, Cliffside West']
Got coords   Postal Code   Latitude  Longitude
9         M1N  43.692657 -79.264848
Row Number :  10
Row values :  ['M1P' 'Scarborough'
 'Dorset Park, Scarborough Town Centre, Wexford Heights']
Got coords    Postal Code  Latitude  Longitude
10         M1P  43.75741 -79.273304
Row Number :  11
Row values :  ['M1R' 'Scarborough' 'Maryvale, Wexford']
Got coords    Postal Code   Latitude  Longitude
11         M1R  43.750072 -79.295849
Row Number :  12
Row values :  ['M1S' 'Scarborough' 'Agincourt']
Got coords    Postal Code  Latitude  Longitude
12         M1S   43.7942 -79.262029
Row Number :  13
Row values :  ['M1T' 'Scarborough' "Clarks Corners, Sullivan, Tam O'Shanter"]
Got coords    Postal Code   Latitude  Longitude
13         M1T  43.781638 -79.304302
Row Number :  14
Row values :  ['M1V' 'Scarborough'
 "Agincourt North, L'Amoreaux East, Milliken, Steeles East"]
Got coords    Postal Code   Latitude  Longitude
14         M1V  43.815252 -79.284577
Row Number :  15
Row values :  ['M1W' 'Scarborough' "L'Amoreaux West"]
Got coords    Postal Code   Latitude  Longitude
15         M1W  43.799525 -79.318389
Row Number :  16
Row values :  ['M1X' 'Scarborough' 'Upper Rouge']
Got coords    Postal Code   Latitude  Longitude
16         M1X  43.836125 -79.205636
Row Number :  17
Row values :  ['M2H' 'North York' 'Hillcrest Village']
Got coords    Postal Code   Latitude  Longitude
17         M2H  43.803762 -79.363452
Row Number :  18
Row values :  ['M2J' 'North York' 'Fairview, Henry Farm, Oriole']
Got coords    Postal Code   Latitude  Longitude
18         M2J  43.778517 -79.346556
Row Number :  19
Row values :  ['M2K' 'North York' 'Bayview Village']
Got coords    Postal Code   Latitude  Longitude
19         M2K  43.786947 -79.385975
Row Number :  20
Row values :  ['M2L' 'North York' 'Silver Hills, York Mills']
Got coords    Postal Code  Latitude  Longitude
20         M2L  43.75749 -79.374714
Row Number :  21
Row values :  ['M2M' 'North York' 'Newtonbrook, Willowdale']
Got coords    Postal Code   Latitude  Longitude
21         M2M  43.789053 -79.408493
Row Number :  22
Row values :  ['M2N' 'North York' 'Willowdale South']
Got coords    Postal Code  Latitude  Longitude
22         M2N  43.77012 -79.408493
Row Number :  23
Row values :  ['M2P' 'North York' 'York Mills West']
Got coords    Postal Code   Latitude  Longitude
23         M2P  43.752758 -79.400049
Row Number :  24
Row values :  ['M2R' 'North York' 'Willowdale West']
Got coords    Postal Code   Latitude  Longitude
24         M2R  43.782736 -79.442259
Row Number :  25
Row values :  ['M3A' 'North York' 'Parkwoods']
Got coords    Postal Code   Latitude  Longitude
25         M3A  43.753259 -79.329656
Row Number :  26
Row values :  ['M3B' 'North York' 'Don Mills North']
Got coords    Postal Code   Latitude  Longitude
26         M3B  43.745906 -79.352188
Row Number :  27
Row values :  ['M3C' 'North York' 'Flemingdon Park, Don Mills South']
Got coords    Postal Code  Latitude  Longitude
27         M3C   43.7259 -79.340923
Row Number :  28
Row values :  ['M3H' 'North York' 'Bathurst Manor, Downsview North, Wilson Heights']
Got coords    Postal Code   Latitude  Longitude
28         M3H  43.754328 -79.442259
Row Number :  29
Row values :  ['M3J' 'North York' 'Northwood Park, York University']
Got coords    Postal Code  Latitude  Longitude
29         M3J  43.76798 -79.487262
Row Number :  30
Row values :  ['M3K' 'North York' 'CFB Toronto, Downsview East']
Got coords    Postal Code   Latitude  Longitude
30         M3K  43.737473 -79.464763
Row Number :  31
Row values :  ['M3L' 'North York' 'Downsview West']
Got coords    Postal Code   Latitude  Longitude
31         M3L  43.739015 -79.506944
Row Number :  32
Row values :  ['M3M' 'North York' 'Downsview Central']
Got coords    Postal Code   Latitude  Longitude
32         M3M  43.728496 -79.495697
Row Number :  33
Row values :  ['M3N' 'North York' 'Downsview Northwest']
Got coords    Postal Code   Latitude  Longitude
33         M3N  43.761631 -79.520999
Row Number :  34
Row values :  ['M4A' 'North York' 'Victoria Village']
Got coords    Postal Code   Latitude  Longitude
34         M4A  43.725882 -79.315572
Row Number :  35
Row values :  ['M4B' 'East York' 'Woodbine Gardens, Parkview Hill']
Got coords    Postal Code   Latitude  Longitude
35         M4B  43.706397 -79.309937
Row Number :  36
Row values :  ['M4C' 'East York' 'Woodbine Heights']
Got coords    Postal Code   Latitude  Longitude
36         M4C  43.695344 -79.318389
Row Number :  37
Row values :  ['M4E' 'East Toronto' 'The Beaches']
Got coords    Postal Code   Latitude  Longitude
37         M4E  43.676357 -79.293031
Row Number :  38
Row values :  ['M4G' 'East York' 'Leaside']
Got coords    Postal Code  Latitude  Longitude
38         M4G  43.70906 -79.363452
Row Number :  39
Row values :  ['M4H' 'East York' 'Thorncliffe Park']
Got coords    Postal Code   Latitude  Longitude
39         M4H  43.705369 -79.349372
Row Number :  40
Row values :  ['M4J' 'East York' 'East Toronto']
Got coords    Postal Code   Latitude  Longitude
40         M4J  43.685347 -79.338106
Row Number :  41
Row values :  ['M4K' 'East Toronto' 'The Danforth West, Riverdale']
Got coords    Postal Code   Latitude  Longitude
41         M4K  43.679557 -79.352188
Row Number :  42
Row values :  ['M4L' 'East Toronto' 'The Beaches West, India Bazaar']
Got coords    Postal Code   Latitude  Longitude
42         M4L  43.668999 -79.315572
Row Number :  43
Row values :  ['M4M' 'East Toronto' 'Studio District']
Got coords    Postal Code   Latitude  Longitude
43         M4M  43.659526 -79.340923
Row Number :  44
Row values :  ['M4N' 'Central Toronto' 'Lawrence Park']
Got coords    Postal Code  Latitude  Longitude
44         M4N  43.72802  -79.38879
Row Number :  45
Row values :  ['M4P' 'Central Toronto' 'Davisville North']
Got coords    Postal Code   Latitude  Longitude
45         M4P  43.712751 -79.390197
Row Number :  46
Row values :  ['M4R' 'Central Toronto' 'North Toronto West']
Got coords    Postal Code   Latitude  Longitude
46         M4R  43.715383 -79.405678
Row Number :  47
Row values :  ['M4S' 'Central Toronto' 'Davisville']
Got coords    Postal Code   Latitude  Longitude
47         M4S  43.704324  -79.38879
Row Number :  48
Row values :  ['M4T' 'Central Toronto' 'Moore Park, Summerhill East']
Got coords    Postal Code   Latitude  Longitude
48         M4T  43.689574  -79.38316
Row Number :  49
Row values :  ['M4V' 'Central Toronto'
 'Deer Park, Forest Hill SE, Rathnelly, South Hill, Summerhill West']
Got coords    Postal Code   Latitude  Longitude
49         M4V  43.686412 -79.400049
Row Number :  50
Row values :  ['M4W' 'Downtown Toronto' 'Rosedale']
Got coords    Postal Code   Latitude  Longitude
50         M4W  43.679563 -79.377529
Row Number :  51
Row values :  ['M4X' 'Downtown Toronto' 'Cabbagetown, St. James Town']
Got coords    Postal Code   Latitude  Longitude
51         M4X  43.667967 -79.367675
Row Number :  52
Row values :  ['M4Y' 'Downtown Toronto' 'Church and Wellesley']
Got coords    Postal Code  Latitude  Longitude
52         M4Y  43.66586  -79.38316
Row Number :  53
Row values :  ['M5A' 'Downtown Toronto' 'Harbourfront, Regent Park']
Got coords    Postal Code  Latitude  Longitude
53         M5A  43.65426 -79.360636
Row Number :  54
Row values :  ['M5B' 'Downtown Toronto' 'Ryerson, Garden District']
Got coords    Postal Code   Latitude  Longitude
54         M5B  43.657162 -79.378937
Row Number :  55
Row values :  ['M5C' 'Downtown Toronto' 'St. James Town']
Got coords    Postal Code   Latitude  Longitude
55         M5C  43.651494 -79.375418
Row Number :  56
Row values :  ['M5E' 'Downtown Toronto' 'Berczy Park']
Got coords    Postal Code   Latitude  Longitude
56         M5E  43.644771 -79.373306
Row Number :  57
Row values :  ['M5G' 'Downtown Toronto' 'Central Bay Street']
Got coords    Postal Code   Latitude  Longitude
57         M5G  43.657952 -79.387383
Row Number :  58
Row values :  ['M5H' 'Downtown Toronto' 'Adelaide, King, Richmond']
Got coords    Postal Code   Latitude  Longitude
58         M5H  43.650571 -79.384568
Row Number :  59
Row values :  ['M5J' 'Downtown Toronto'
 'Harbourfront East, Toronto Islands, Union Station']
Got coords    Postal Code   Latitude  Longitude
59         M5J  43.640816 -79.381752
Row Number :  60
Row values :  ['M5K' 'Downtown Toronto' 'Design Exchange, Toronto Dominion Centre']
Got coords    Postal Code   Latitude  Longitude
60         M5K  43.647177 -79.381576
Row Number :  61
Row values :  ['M5L' 'Downtown Toronto' 'Commerce Court, Victoria Hotel']
Got coords    Postal Code   Latitude  Longitude
61         M5L  43.648198 -79.379817
Row Number :  62
Row values :  ['M5M' 'North York' 'Bedford Park, Lawrence Manor East']
Got coords    Postal Code   Latitude  Longitude
62         M5M  43.733283  -79.41975
Row Number :  63
Row values :  ['M5N' 'Central Toronto' 'Roselawn']
Got coords    Postal Code   Latitude  Longitude
63         M5N  43.711695 -79.416936
Row Number :  64
Row values :  ['M5P' 'Central Toronto' 'Forest Hill North, Forest Hill West']
Got coords    Postal Code   Latitude  Longitude
64         M5P  43.696948 -79.411307
Row Number :  65
Row values :  ['M5R' 'Central Toronto' 'The Annex, North Midtown, Yorkville']
Got coords    Postal Code  Latitude  Longitude
65         M5R  43.67271 -79.405678
Row Number :  66
Row values :  ['M5S' 'Downtown Toronto' 'Harbord, University of Toronto']
Got coords    Postal Code   Latitude  Longitude
66         M5S  43.662696 -79.400049
Row Number :  67
Row values :  ['M5T' 'Downtown Toronto' 'Chinatown, Grange Park, Kensington Market']
Got coords    Postal Code   Latitude  Longitude
67         M5T  43.653206 -79.400049
Row Number :  68
Row values :  ['M5V' 'Downtown Toronto'
 'CN Tower, Bathurst Quay, Island airport, Harbourfront West, King and Spadina, Railway Lands, South Niagara']
Got coords    Postal Code   Latitude  Longitude
68         M5V  43.628947  -79.39442
Row Number :  69
Row values :  ['M5W' 'Downtown Toronto' 'Stn A PO Boxes 25 The Esplanade']
Got coords    Postal Code   Latitude  Longitude
69         M5W  43.646435 -79.374846
Row Number :  70
Row values :  ['M5X' 'Downtown Toronto' 'First Canadian Place, Underground city']
Got coords    Postal Code   Latitude  Longitude
70         M5X  43.648429  -79.38228
Row Number :  71
Row values :  ['M6A' 'North York' 'Lawrence Heights, Lawrence Manor']
Got coords    Postal Code   Latitude  Longitude
71         M6A  43.718518 -79.464763
Row Number :  72
Row values :  ['M6B' 'North York' 'Glencairn']
Got coords    Postal Code   Latitude  Longitude
72         M6B  43.709577 -79.445073
Row Number :  73
Row values :  ['M6C' 'York' 'Humewood-Cedarvale']
Got coords    Postal Code   Latitude  Longitude
73         M6C  43.693781 -79.428191
Row Number :  74
Row values :  ['M6E' 'York' 'Caledonia-Fairbanks']
Got coords    Postal Code   Latitude  Longitude
74         M6E  43.689026 -79.453512
Row Number :  75
Row values :  ['M6G' 'Downtown Toronto' 'Christie']
Got coords    Postal Code   Latitude  Longitude
75         M6G  43.669542 -79.422564
Row Number :  76
Row values :  ['M6H' 'West Toronto' 'Dovercourt Village, Dufferin']
Got coords    Postal Code   Latitude  Longitude
76         M6H  43.669005 -79.442259
Row Number :  77
Row values :  ['M6J' 'West Toronto' 'Little Portugal, Trinity']
Got coords    Postal Code   Latitude  Longitude
77         M6J  43.647927  -79.41975
Row Number :  78
Row values :  ['M6K' 'West Toronto' 'Brockton, Exhibition Place, Parkdale Village']
Got coords    Postal Code   Latitude  Longitude
78         M6K  43.636847 -79.428191
Row Number :  79
Row values :  ['M6L' 'North York' 'Downsview, North Park, Upwood Park']
Got coords    Postal Code   Latitude  Longitude
79         M6L  43.713756 -79.490074
Row Number :  80
Row values :  ['M6M' 'York' 'Del Ray, Keelesdale, Mount Dennis, Silverthorn']
Got coords    Postal Code   Latitude  Longitude
80         M6M  43.691116 -79.476013
Row Number :  81
Row values :  ['M6N' 'York' 'The Junction North, Runnymede']
Got coords    Postal Code   Latitude  Longitude
81         M6N  43.673185 -79.487262
Row Number :  82
Row values :  ['M6P' 'West Toronto' 'High Park, The Junction South']
Got coords    Postal Code   Latitude  Longitude
82         M6P  43.661608 -79.464763
Row Number :  83
Row values :  ['M6R' 'West Toronto' 'Parkdale, Roncesvalles']
Got coords    Postal Code  Latitude  Longitude
83         M6R  43.64896 -79.456325
Row Number :  84
Row values :  ['M6S' 'West Toronto' 'Runnymede, Swansea']
Got coords    Postal Code   Latitude  Longitude
84         M6S  43.651571  -79.48445
Row Number :  85
Row values :  ['M7A' "Queen's Park" "Queen's Park"]
Got coords    Postal Code   Latitude  Longitude
85         M7A  43.662301 -79.389494
Row Number :  86
Row values :  ['M7R' 'Mississauga' 'Canada Post Gateway Processing Centre']
Got coords    Postal Code   Latitude  Longitude
86         M7R  43.636966 -79.615819
Row Number :  87
Row values :  ['M7Y' 'East Toronto' 'Business Reply Mail Processing Centre 969 Eastern']
Got coords    Postal Code   Latitude  Longitude
87         M7Y  43.662744 -79.321558
Row Number :  88
Row values :  ['M8V' 'Etobicoke' 'Humber Bay Shores, Mimico South, New Toronto']
Got coords    Postal Code   Latitude  Longitude
88         M8V  43.605647 -79.501321
Row Number :  89
Row values :  ['M8W' 'Etobicoke' 'Alderwood, Long Branch']
Got coords    Postal Code   Latitude  Longitude
89         M8W  43.602414 -79.543484
Row Number :  90
Row values :  ['M8X' 'Etobicoke' 'The Kingsway, Montgomery Road, Old Mill North']
Got coords    Postal Code   Latitude  Longitude
90         M8X  43.653654 -79.506944
Row Number :  91
Row values :  ['M8Y' 'Etobicoke'
 "Humber Bay, King's Mill Park, Kingsway Park South East, Mimico NE, Old Mill South, The Queensway East, Royal York South East, Sunnylea"]
Got coords    Postal Code   Latitude  Longitude
91         M8Y  43.636258 -79.498509
Row Number :  92
Row values :  ['M8Z' 'Etobicoke'
 'Kingsway Park South West, Mimico NW, The Queensway West, Royal York South West, South of Bloor']
Got coords    Postal Code   Latitude  Longitude
92         M8Z  43.628841 -79.520999
Row Number :  93
Row values :  ['M9A' 'Etobicoke' 'Islington Avenue']
Got coords    Postal Code   Latitude  Longitude
93         M9A  43.667856 -79.532242
Row Number :  94
Row values :  ['M9B' 'Etobicoke'
 'Cloverdale, Islington, Martin Grove, Princess Gardens, West Deane Park']
Got coords    Postal Code   Latitude  Longitude
94         M9B  43.650943 -79.554724
Row Number :  95
Row values :  ['M9C' 'Etobicoke'
 'Bloordale Gardens, Eringate, Markland Wood, Old Burnhamthorpe']
Got coords    Postal Code   Latitude  Longitude
95         M9C  43.643515 -79.577201
Row Number :  96
Row values :  ['M9L' 'North York' 'Humber Summit']
Got coords    Postal Code   Latitude  Longitude
96         M9L  43.756303 -79.565963
Row Number :  97
Row values :  ['M9M' 'North York' 'Emery, Humberlea']
Got coords    Postal Code   Latitude  Longitude
97         M9M  43.724766 -79.532242
Row Number :  98
Row values :  ['M9N' 'York' 'Weston']
Got coords    Postal Code   Latitude  Longitude
98         M9N  43.706876 -79.518188
Row Number :  99
Row values :  ['M9P' 'Etobicoke' 'Westmount']
Got coords    Postal Code   Latitude  Longitude
99         M9P  43.696319 -79.532242
Row Number :  100
Row values :  ['M9R' 'Etobicoke'
 'Kingsview Village, Martin Grove Gardens, Richview Gardens, St. Phillips']
Got coords     Postal Code   Latitude  Longitude
100         M9R  43.688905 -79.554724
Row Number :  101
Row values :  ['M9V' 'Etobicoke'
 'Albion Gardens, Beaumond Heights, Humbergate, Jamestown, Mount Olive, Silverstone, South Steeles, Thistletown']
Got coords     Postal Code   Latitude  Longitude
101         M9V  43.739416 -79.588437
Row Number :  102
Row values :  ['M9W' 'Etobicoke' 'Northwest']
Got coords     Postal Code   Latitude  Longitude
102         M9W  43.706748 -79.594054

In [21]:
df

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [22]:
# Save to disk because it is such a pain to get this data again
df.to_pickle("./dataframe-step2.pkl")